 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
} 

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;





